body {
    font-family: 'Roboto', sans-serif;
}

.ss_img {
    width: 400px;
    border-radius: 10px;
}

.iot_img {
    width: 600px;
}

.device_img {
    width: 150px;
}

.table > tbody > tr > * {
    vertical-align: middle;
}